<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<nav class="navbar ">
  <div class="container d-flex justify-content-between align-items-center">

    <!-- 왼쪽 로고 -->
    <div class="d-flex align-items-center gap-3">
        <a href="/" class="navbar-brand text-success fw-bold">
          Django Practice</a>
        <a href="/posts" class="">Post</a>
        <a href="/post2/newList/" class="">Blog</a>
    </div>

    <!-- 오른쪽 영역 -->
    <div class="d-flex align-items-center gap-3">

      {% if not user.is_authenticated %}
        <!-- 로그인 버튼 -->
        <a class="d-flex align-items-center text-decoration-none" href="{% url 'user_login' %}?next={{ request.path }}">
          <img src="https://img.icons8.com/?size=100&id=15438&format=png&color=000000"
               alt="login icon" width="30" height="24" class="me-1">
          <span>Login</span>
        </a>
      {% else %}
        <!-- 유저 이름 + 프로필 이미지 -->
        <a href="/users/userEdit/" class="d-flex align-items-center text-decoration-none">
          <span class="me-2">Hello, {{ user.username }}</span>
            {% if user.profile_image %}
          <img src="{{ user.profile_image.url }}"
               alt="user image"
               class="rounded-circle"
               style="width: 40px; height: 40px; object-fit: cover;">
                {% else %}
                <img src="https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg"
               alt="user image"
               class="rounded-circle"
               style="width: 40px; height: 40px; object-fit: cover;">
                {% endif %}
        </a>

        <!-- 로그아웃 버튼 -->
        <a href="/users/logout/" class="d-flex align-items-center text-decoration-none">
          <img src="https://img.icons8.com/?size=100&id=94&format=png&color=000000"
               alt="logout icon" width="30" height="24" class="me-1">
          <span>Logout</span>
        </a>
      {% endif %}

      <!-- 다크모드 토글 -->
      <div class="d-flex align-items-center">
        <input class="form-check-input me-1" type="checkbox" id="themeToggle" hidden>
        <label for="themeToggle"><i class="fa-solid fa-circle-half-stroke"></i></label>
      </div>
    </div>

  </div>
</nav>

    {% block content %}
    <div class="container mx-4 my-3">
      <div class="row">
        <!-- 메인 블로그(Blog2 Models) -->
        <div class="col-md-8">
          {% if main_post %}
          <div class="card shadow-lg border-3">
            <div class="card-body">
              <p class="card-text">{{ main_post.description|safe }}</p>
            </div>
          </div>
          {% else %}
            <p>메인 포스트가 없습니다.</p>
          {% endif %}
        </div>

        <!-- 사이드 포스트(Post Models) -->
        <div class="col-md-4">
          <div class="d-flex flex-column gap-3">
            {% for post in side_posts %}
            <div class="card shadow-sm border-2">
              <div class="row g-0">
                <div class="col-4">
                  {% if post.postimage_set %}
                    <img src="{{ post.postimage_set.first.image.url }}" class="img-fluid rounded-start" style="height: 100%; object-fit: cover;" alt="{{ post.title }}">
                  {% endif %}
                </div>
                <div class="col-8">
                  <div class="card-body py-2">
                    <h6 class="card-title mb-1">{{ post.title }}</h6>
                    <a href="{% url 'post_detail' post.id %}" class="stretched-link"></a>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
              <p>다른 포스트가 없습니다.</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    {% endblock %}

<hr />
<footer class="mb-3 mx-5">&copy;nocopyrights 2025.11.4(TUE) KYUNGSUNG LIBRARY LICENSE ACTUALLY NOT</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script>
        const toggle = document.getElementById('themeToggle');
        if(localStorage.getItem('theme') === 'dark'){
            toggle.checked = true;
            document.documentElement.setAttribute('data-bs-theme', 'dark');
        }
        toggle.addEventListener('change', () => {
            const theme = toggle.checked ? 'dark' : 'light';
            document.documentElement.setAttribute('data-bs-theme', theme);
            localStorage.setItem('theme', theme)
        });
    </script>
    <script src="https://kit.fontawesome.com/d7b9ae0b6b.js" crossorigin="anonymous"></script>

    <!-- Prism.js CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />

    <!-- Prism.js JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>

    <style>
    /* TinyMCE에서 들어오는 이미지 크기 제어 */
    .card-body img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0rem auto;  /* 중앙 정렬 + 여백 */
    }
    .card-text img {
      max-width: 100%;
      height: auto;
      display: block;
    }

    </style>


</html>

