<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<nav class="navbar bg-body-tertiary">
  <div class="container d-flex justify-content-between align-items-center">

    <!-- 왼쪽 로고 -->
    <div class="d-flex align-items-center gap-3">
        <a href="/" class="navbar-brand text-success fw-bold">
          Django Practice</a>
        <a href="/posts" class="">Post</a>
    </div>

    <!-- 오른쪽 영역 -->
    <div class="d-flex align-items-center gap-3">

      {% if not user.is_authenticated %}
        <!-- 로그인 버튼 -->
        <a class="d-flex align-items-center text-decoration-none" href="{% url 'user_login' %}?next={{ request.path }}">
          <img src="https://img.icons8.com/?size=100&id=15438&format=png&color=000000"
               alt="login icon" width="30" height="24" class="me-1">
          <span>Login</span>
        </a>
      {% else %}
        <!-- 유저 이름 + 프로필 이미지 -->
        <a href="/users/userinfo/" class="d-flex align-items-center text-decoration-none">
          <span class="me-2">Hello, {{ user.username }}</span>
            {% if user.profile_image %}
          <img src="{{ user.profile_image.url }}"
               alt="user image"
               class="rounded-circle"
               style="width: 40px; height: 40px; object-fit: cover;">
                {% else %}
                <img src="https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg"
               alt="user image"
               class="rounded-circle"
               style="width: 40px; height: 40px; object-fit: cover;">
                {% endif %}
        </a>

        <!-- 로그아웃 버튼 -->
        <a href="/users/logout/" class="d-flex align-items-center text-decoration-none">
          <img src="https://img.icons8.com/?size=100&id=94&format=png&color=000000"
               alt="logout icon" width="30" height="24" class="me-1">
          <span>Logout</span>
        </a>
      {% endif %}

      <!-- 다크모드 토글 -->
      <div class="d-flex align-items-center">
        <input class="form-check-input me-1" type="checkbox" id="themeToggle" hidden>
        <label for="themeToggle"><i class="fa-solid fa-circle-half-stroke"></i></label>
      </div>
    </div>

  </div>
</nav>
    {% block content %}{% endblock %}


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script>
        const toggle = document.getElementById('themeToggle');
        if(localStorage.getItem('theme') === 'dark'){
            toggle.checked = true;
            document.documentElement.setAttribute('data-bs-theme', 'dark');
        }
        toggle.addEventListener('change', () => {
            const theme = toggle.checked ? 'dark' : 'light';
            document.documentElement.setAttribute('data-bs-theme', theme);
            localStorage.setItem('theme', theme)
            // const htmlTag = document.documentElement; // = html tag
            // if (toggle.checked){
            //     htmlTag.setAttribute('data-bs-theme', 'dark');
            // } else {
            //     htmlTag.setAttribute('data-bs-theme', 'light');
            // }
        });
    </script>
    <script src="https://kit.fontawesome.com/d7b9ae0b6b.js" crossorigin="anonymous"></script>
</html>